extends layout

block content
  //h1= title
  //p Welcome to #{title}
  | height is
  span#height
  br
  | width is
  span#width
  br
  | Key pressed
  span#keycode
  br
  #player

  //iframe#ytplayer(type="text/html" width="640" height="360"
  //src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"
  //frameborder="0")
