doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/js/lib/jquery-3.3.1.min.js")
    script(src="https://www.youtube.com/iframe_api" async=true)
    script(src="/js/main.js")
  body
    block content
      //height is 980*495
      //  api ley AIzaSyDTJ50xR9SyBHRzmOdtCU6W0o2OzsaqREM
